
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand logo" routerLink="/">Demo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="authService.isLoggedIn " routerLinkActive="active" routerLink="/post">Top Picks</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" *ngIf="authService.isLoggedIn" routerLinkActive="active" routerLink="/viewpost">Viewpost</a>
      </li> -->
      <li class="nav-item">
          <a class="nav-link"
            *ngIf="authService.isLoggedIn && authService.isAdmin"
            routerLink="/admin"
            routerLinkActive="active"
            >Admin</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Recently Added</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">My List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="!authService.isLoggedIn" routerLinkActive="active" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" *ngIf="authService.isLoggedIn" routerLinkActive="active"  routerLink="/users">My Content</a>
        </li>
    </ul>
    <ul class="navbar-nav ">
      <li class="nav-item">
        <a class="nav-link" href="#"><fa-icon [icon]='faSearch'></fa-icon></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><fa-icon [icon]='faBell'></fa-icon></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><fa-icon [icon]='faUser'></fa-icon></a>
      </li>
    </ul>

      <div class="pull-right" *ngIf="authService.isLoggedIn">
        <ul class="navbar-nav">
            <li class="nav-item">
                <mat-slide-toggle [formControl]="darkTheme" class="darkthemeToggle">Dark theme</mat-slide-toggle>
                </li>
                <li class="nav-item dropdown "> 
                  <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Welcome
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Profile</a>
                    <a class="dropdown-item" routerLink="/login">Logout</a>
                  </div>
                </li>
      </ul>
    </div>
  </div>
</nav>