<div class="expore-container">
    <div  [ngClass]="{'left-filter': true,'hide-filter': !showFilter}">
    <app-post-filter  (loadFilter)="update($event)"></app-post-filter>
    </div>

    
    
    
    <div tabindex="-1" id="productsContainer"  class="product-details">
    <!-- <div *ngFor="let fileDetails of productDetails.uploadDetails">
        <a #productGridCarousel href="javascript:;" role="button" (click)="productClick(productGridCarousel)">
        <img mat-card-image src="{{fileDetails.fileupload_imageUrl}}" class="img-reponsive">
        </a>
    </div> -->
    
    <ng-container >
        <div class="mobile-filter-category">
          <div class="filter-container">
            <a href="javascript:;" (click)="enableFilter()" class="show-filter-btn" translate>Filter
              <img src="assets/icons/filter-icon.png"></a>
          </div>
        </div>
        <app-category-display [productDetails]="allPostObs  | async"></app-category-display>
      </ng-container>
    </div>
  </div>