<div class="row blog">

    <div class="col-xs-12 col-sm-6 col-md-4">
    </div>

    <mat-card class="blog-content matcard">
        <!-- <div class="blog-image">
            <img mat-card-image class="img-article" alt="...">
        </div> -->
        <mat-card-header>
            <mat-card-title class="title">Total Users</mat-card-title>
            <mat-card-subtitle>{{totalUsers}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                    <a [routerLink]="['/admin/users']"><span class="badge badge-dark">More</span></a>
            </p>
        </mat-card-content>


    </mat-card>
    <mat-card class="blog-content matcard">
        <!-- <div class="blog-image">
            <img mat-card-image class="img-article" alt="...">
        </div> -->
        <mat-card-header>
            <mat-card-title class="title">Total Posts</mat-card-title>
            <mat-card-subtitle>{{totalPosts}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                <a [routerLink]="['/admin/allposts']"><span class="badge badge-dark">More</span></a>
            </p>
        </mat-card-content>
        <!-- <mat-card-actions class="action-buttons">
                      <button mat-button color="primary"><mat-icon>thumb_up_alt</mat-icon> 12 Likes</button>
                      <button mat-button color="primary"><mat-icon>comment</mat-icon> Comments</button>
                      <button mat-button color="primary"><mat-icon>share</mat-icon> Share</button>
                      <a mat-button color="primary" href={{article.url}} target="_blank" ><mat-icon>visibility</mat-icon> More</a>
                </mat-card-actions> -->

    </mat-card>


    <!--     <img mat-card-image class="img-article" src={{article.urlToImage}} alt=""> -->




</div>