<nav>
    <ul >

      <ng-container >
        <li [ngClass]="{'active' : isActive('/home')}">
          <a href="javascript:;" (click)="onTabClick({link:'/home'})">
            <span class="icon"><i class="icon "></i></span>
            <span class="text" translate>Home</span>
          </a>
        </li>
      </ng-container>
      <ng-container >
        <li [ngClass]="{'active' : isActive('/admin')}">
          <a href="javascript:;" (click)="onTabClick({link:'/admin'})">
            <span class="icon"><i class="icon "></i></span>
            <span class="text" translate>Admin</span>
          </a>
        </li>
      </ng-container>
      <ng-container>
        <li [ngClass]="{'active' : isActive('/fileexplorer')}">
          <a href="javascript:;" (click)="onTabClick({link:'fileexplorer'})">
            <span class="icon"><i class="icon "></i></span>
            <span class="text" translate>File Explorer</span>
          </a>
        </li>
      </ng-container>
      <ng-container>
        <li [ngClass]="{'active' : isActive('/file-upload')}">
          <a href="javascript:;" (click)="onTabClick({link:'file-upload'})">
            <span class="icon"><i class="icon "></i></span>
            <span class="text" translate>File Upload</span>
          </a>
        </li>
      </ng-container>
      
      <li class="more-link">
        <a href="javascript:;" (click)="onTabClick({link:'more'})">
          <span class="icon"><i class="icon icon-more-icon"></i></span>
          <span class="text" translate="more">More</span>
        </a>
      </li>
    </ul>
  </nav>