<div id="carouselExampleInterval" class="carousel slide w-50 ml-auto mr-auto" data-ride="carousel">
        <div class="carousel-inner row w-10 mx-auto" >
          <!-- <div class="carousel-item col-md-12 active" data-interval="10000">
            <img src="https://my-blog-19.s3.ap-south-1.amazonaws.com/karthikboddu/Marvel%20-%20Avengers" class="d-block mx-auto img-fluid " alt="...">
          </div>
          <div class="carousel-item col-md-12" data-interval="2000">
            <img src="https://my-blog-19.s3.ap-south-1.amazonaws.com/karthikboddu/Iron%20Man" class="d-block mx-auto img-fluid " alt="...">
          </div>
          <div class="carousel-item col-md-12">
            <img src="https://my-blog-19.s3.ap-south-1.amazonaws.com/karthikboddu/Doctor%20Strange" class="d-block mx-auto img-fluid" alt="...">
          </div> -->
        </div>
        <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>