<div class="row ">
    <div class="col-md-8">
           
        <mat-card class="matcard">
            <mat-card-title>Post</mat-card-title>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                    <label for="name" class="col-md-4 col-form-label text-md-right">Title</label>
                    <div class="col-md-6">
                        <input type="text" formControlName="name" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">Username is required</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="description" class="col-md-4 col-form-label text-md-right">Description</label>
                    <div class="col-md-6">
                            <ckeditor matCkeditor placehoder="Post Content" formControlName="description"></ckeditor>
                        <!-- <input type="text" formControlName="description" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.description.errors }" /> -->
                        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                            <div *ngIf="f.description.errors.required">Password is required</div>
                        </div>
                    </div>
                </div>
                <!-- <label class="image-upload-container btn btn-bwm">
                <span>Select Image</span>
                <input #imageInput
         type="file"
         accept="image/*"
         (change)="processFile(imageInput)"> -->
                <!-- </label> -->
                <div class="form-group row">
                    <div class="col-sm-2 imgUp">
                        <div class="imagePreview" [ngStyle]="{'background-image': 'url(' + imgURL + ')'}"></div>
                        <label class="btn btn-primary" (change)="preview($event.target.files)">
                            Upload<input type="file" class="uploadFile img" value="Upload Photo"
                                style="width: 0px;height: 0px;overflow: hidden;">
                        </label>
                    </div><!-- col-2 -->
                    <i class="fa fa-plus imgAdd" (click)="createDiv()"></i>


                    <div *ngFor="let div of divs" id="div{{div}}" class="col-sm-2 imgUp">
                        <div class="imagePreview" [ngStyle]="{'background-image': 'url(' + imgURL + ')'}"></div><label
                            class="btn btn-primary" (change)="preview($event.target.files)">Upload<input type="file"
                                class="uploadFile img" value="Upload Photo"
                                style="width:0px;height:0px;overflow:hidden;"></label><i class="fa fa-times del "
                            (click)="removeDiv()"></i>
                    </div>

                </div>

                <div class="form-group row">

                    
                        <mat-chip *ngFor="let divtag of divtags" color="primary" selected>{{divtag}}</mat-chip>
                   
                    <div class="row">
                    <mat-chip-list *ngFor="let tag of allTags" aria-label="">
                        <mat-chip color="primary" selected (click)="createTag(tag.name)">{{tag.name}}</mat-chip>
                    </mat-chip-list>
                </div>
                </div>
                <div class="form-group col-md-6 offset-md-4">
                    <button [disabled]="loading" class="btn btn-primary">Post</button>
                    <img *ngIf="loading"
                        src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />

                </div>
            </form>
        </mat-card>
    </div>
</div>

