<button mat-raised-button (click)="openUploadDialog()">Upload</button>
<!-- 	<video id="my_video_1" class="video-js vjs-default-skin" width="640px" height="267px" controls preload="none"
		poster='http://video-js.zencoder.com/oceans-clip.jpg'
		data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
		<source src="https://my-blog-19.s3.ap-south-1.amazonaws.com/karthikboddu/mp4/SampleVideo_1280x720_1mb.mp4" type='video/mp4' />
		<source src="https://my-blog-19.s3.ap-south-1.amazonaws.com/karthikboddu/mp4/SampleVideo_1280x720_1mb.mp4" type='video/webm' />
	</video> -->