<button mat-raised-button (click)="openUploadDialog()">Upload</button>
	<div *ngFor="let pf of userfiledata">
		<div *ngFor="let video of pf.userMediaData">
	<video id="my_video_1" class="video-js vjs-default-skin" width="200px" height="267px" controls preload="none"  *ngIf='video.fileuplodtype.name === "video"'
		poster='http://video-js.zencoder.com/oceans-clip.jpg'
		data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
		<source src="{{video.imageUrl}}" type='video/mp4' />
		<source src="" type='video/webm' />
	</video>
		

		<mat-card class="blog-content matcard" *ngIf='video.fileuplodtype.name === "Image"'>
            <img mat-card-image class="img-responsive img-article img-fluid z-depth-1" src="{{video.imageUrl}}"
                alt="...">
            <!-- <mat-card-header>
                <mat-card-title class="title">{{posts.pu_name}}</mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{posts.pu_description}}
                </p>
            </mat-card-content> -->
        </mat-card>
        </div>
</div>