<div class="text-center"> 
<button mat-raised-button (click)="openUploadDialog()">Upload</button>
</div>



<!-- <h1 fxHide fxShow.xs>XS</h1>
<h1 fxHide fxShow.sm>SM</h1>
<h1 fxHide fxShow.md>MD</h1>
<h1 fxHide fxShow.lg>LG</h1>
<h1 fxHide fxShow.xl>XL</h1>
<div *ngFor="let pf of userfiledata">
    <div fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="10px" ngClass.gt-xs="ml-10">

        <mat-card *ngFor="let video of pf.userMediaData" fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)"
            fxFlex.gt-md="0 1 calc(25%-40px)">
            
            <img *ngIf='video.fileuplodtype.name === "Image"' mat-card-image src="{{video.imageUrl}}" class="img-responsive">


            <video *ngIf='video.fileuplodtype.name === "video"' id="my_video_1" class="video-js vjs-default-skin"
                width="auto" height="150px" controls preload="none"
                poster='http://video-js.zencoder.com/oceans-clip.jpg'
                data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
                <source src="{{video.imageUrl}}" type='video/mp4' />
                <source src="" type='video/webm' />
            </video>

            <mat-card-content>Primary card content. Intended for blocks of text</mat-card-content>
            <mat-card-actions>Container for buttons at the bottom of the card</mat-card-actions>
        </mat-card>


    </div>

</div> -->
<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->