
    <!-- <div class="col-md-6 offset-md-3">
        <span style="color:red;" *ngIf="message">{{message}}</span>
        <img [src]="imgURL" height="200" *ngIf="imgURL">

        <input placeholder="Input" #file type="file" accept='image/*' (change)="preview($event.target.files)">

    </div> -->
    <!-- <mat-spinner *ngIf="allPost.length === 0"></mat-spinner> -->



    <h1 fxHide fxShow.xs>XS</h1>
    <h1 fxHide fxShow.sm>SM</h1>
    <h1 fxHide fxShow.md>MD</h1>
    <h1 fxHide fxShow.lg>LG</h1>
    <h1 fxHide fxShow.xl>XL</h1>
    <div
    class="search-results"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"
    >
    <div  fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="10px" ngClass.gt-xs="ml-10">
      <mat-card *ngFor="let posts of allPostDetails;" fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)" fxFlex.gt-md="0 1 calc(35%-10px)">
        
        <div *ngFor="let fileDetails of posts.uploadDetails">
            <img mat-card-image src="{{fileDetails.fileupload_imageUrl}}" class="image">
        </div>
      </mat-card>
      
     



      
    </div>
    
</div>


<div class="row pb-5">
    <div class="col-md-12 p-5">
     <ngx-spinner
     bdOpacity = 0.9
     bdColor = ""
     size = "default"
     color = "#581f87"
     type = "ball-pulse-sync"
     [fullScreen] = "false"
     >
     </ngx-spinner>
   </div>
 </div>

    <!--     <img mat-card-image class="img-article" src={{article.urlToImage}} alt=""> -->


    <!-- <div class="gallerize-example">
        <h2>Gallerize Example</h2>
        <p class="container" gallerize>
            <img *ngFor="let img of imageData" [src]="img.srcUrl">
        </p>
    </div> -->

