<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3>Image:</h3>
        <span style="color:red;" *ngIf="message">{{message}}</span>
        <input #file type="file" accept='image/*' (change)="preview($event.target.files)" />
        <img [src]="imgURL" height="200" *ngIf="imgURL">
    
    </div>
    <mat-card class="card col-xs-12 col-sm-6 col-md-4" *ngFor="let posts of allPost" >
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{posts.name}}</h5>
                <p class="card-text">{{posts.description}}</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <span class="badge badge-dark">{{posts.posttag.name}}</span>
                <a [routerLink]="['./']" [queryParams]="{ page: posts.posttag.name }" (click)="getPostTags()">Go to Page 99</a>
            </div>
        
    </mat-card> 



</div>